<header id="header">
    <div class="Sxl:justify-between container flex flex-wrap items-center justify-center gap-6 py-5 xl:gap-0">
        <img src="img/logo.svg" alt="" width="208" height="101" />
        <div>
            <button type="button" class="btn-menu">
                <i class="icon-burger"></i>
            </button>
            <div class="menu">
                <ul>
                    <li><a href="#">Заказ авто </a></li>
                    <li class="current"><a href="#">Автомобили в продаже </a></li>
                    <li><a href="#"> О нас </a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="flex items-center gap-6">
            <a href="tel:88004444746">8 (800) <b>444-47-46</b></a>
            <div class="flex items-center gap-2">
                <a href="#">
                    <svg class="icon-telegram size-12">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-whatsapp size-12">
                        <use href="#icon-whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
