@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .btn {
        @apply relative inline-flex h-[76px] w-full items-center justify-center gap-4 rounded-[38px] px-8 text-[20px] transition-all duration-300 xl:w-[344px];

        &.btn-outline-white {
            @apply text-white outline outline-1 outline-white;

            &:hover {
                @apply bg-[#dadada] text-black outline-[#dadada];
            }
        }

        &.btn-white {
            @apply bg-white text-black;

            &:hover {
                @apply bg-[#dadada];
            }
        }

        &.btn-black {
            @apply bg-[#262626] text-white;

            &:hover {
                @apply bg-[#474747];
            }
        }

        &[disabled] {
            @apply pointer-events-none opacity-50;
        }
    }

    .btn-menu {
        @apply mt-4 flex w-full items-center justify-center lg:hidden;

        .icon-burger {
            display: block;
            width: 24px;
            height: 2px;
            background: #000;
            position: relative;
            transition: 0.3s all;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 24px;
                height: 2px;
                background: #000;
                transition: 0.3s all;
            }

            &:before {
                transform: translateY(-8px);
            }

            &:after {
                transform: translateY(8px);
            }
        }

        &.active {
            .icon-burger {
                background: transparent;

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .form-input,
    .form-textarea {
        @apply rounded-[43px] border-black px-6 py-4 leading-none text-black xl:px-12 xl:py-7;
    }
}

#header {
    .menu {
        @apply invisible max-h-0 overflow-hidden opacity-0 transition-all duration-300 lg:visible lg:max-h-none lg:text-lg lg:opacity-100 lg:transition-none;

        ul {
            @apply flex flex-col gap-4 text-center xl:flex-row xl:gap-12;

            li {
                &.current,
                &:hover {
                    a {
                        @apply text-primary;
                    }
                }
            }
        }

        &.open {
            @apply visible mt-6 max-h-[1000px] text-lg opacity-100;
        }
    }
}

#cta {
    background: url('../img/bg-cta.png') no-repeat center center;
    height: 662px;
}

.banner {
    @apply flex flex-col justify-center p-8 text-white xl:ps-24;

    &.banner-1 {
        @apply xl:h-[450px];
        background: #262626;

        @media screen(md) {
            background: url('../img/bg-banner-1.png') no-repeat center center;
        }
    }

    &.banner-3 {
        @apply xl:h-[450px];
        background: #262626;

        @media screen(md) {
            background: url('../img/bg-banner-3.png') no-repeat center center;
        }
    }

    &.banner-2 {
        @apply flex-row flex-wrap items-center justify-between pr-14 xl:h-[216px];
        background: #262626;
        @media screen(xl) {
            background: url('../img/bg-banner-2.png') no-repeat center center;
        }
    }
}

.scroll-container {
    overflow-x: auto;
    display: flex;
}

.scroll-container {
    scrollbar-color: #262626 #efefef; /* Thumb and track color */
}

.scroll-container::-webkit-scrollbar {
    height: 18px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 9px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 9px;
}

.fancybox__content {
    padding: 1rem !important;
    border-radius: 16px !important;
    @media screen(xl) {
        padding: 4rem !important;
        border-radius: 73px !important;
    }
}

.fancybox__content > .f-button.is-close-btn {
    top: 1rem !important;
    right: 1rem !important;

    width: 44px;
    height: 44px;
    background: none;

    @media screen(xl) {
        top: 2rem !important;
        right: 2rem !important;
    }

    svg {
        width: 44px;
        height: 44px;
        fill: #000 !important;
        stroke: #000 !important;
    }
}

.path {
    &.bg-about-us {
        background: url('../img/bg-about-us.png') no-repeat center center;
        height: 276px;
    }

    &.bg-germany {
        background: url('../img/bg-germany.png') no-repeat center center;
        height: 386px;
    }

    &.bg-japan {
        background: url('../img/bg-japan.png') no-repeat center center;
        height: 386px;
    }

    &.bg-korea {
        background: url('../img/bg-korea.png') no-repeat center center;
        height: 386px;
    }
}

.prose {
    h2,
    h3 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding: 0 0 0 0.75rem;

        li {
            @apply relative pl-6;

            &:before {
                content: '';
                @apply absolute left-0 top-[8px] size-[11px] rounded-full bg-black;
            }
        }
    }

    p,
    ul,
    ol {
        font-size: 18px;
    }

    ol {
        list-style: none;
        padding: 0;
        counter-set: list;

        li {
            @apply relative block pl-14;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: 0;
                top: -6px;
                background: #000;
                width: 43px;
                height: 43px;
                color: #fff;
                text-align: center;
                font-size: 18px;
                line-height: 43px;
                border-radius: 50%;
            }

            & + li {
                margin-top: 1.5rem;
            }
        }
    }

    img {
        margin: 0;
    }
}

.faq {
    border: 1px solid #262626;
    border-radius: 47px;
    transition: 0.3s all;

    .faq-question {
        font-size: 16px;
        font-weight: 500;
        padding: 1rem 3rem;
        cursor: pointer;

        @media screen(xl) {
            font-size: 26px;
            padding: 2rem 77px;
        }

        .icon-angle-right {
            position: absolute;
            top: 50%;
            transition: 0.3s all;
            right: 1.5rem;
            transform: translateY(-50%) rotate(90deg);

            @media screen(xl) {
                right: 4rem;
            }
        }
    }

    .faq-answer {
        font-weight: 500;
        padding: 0 3rem;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: 0.3s all;

        iframe {
            display: none;
        }

        @media screen(xl) {
            font-size: 26px;
            padding: 0 77px;
        }
    }

    &.open {
        color: #fff;
        background-color: #262626;

        .faq-question {
            .icon-angle-right {
                transform: translateY(-50%) rotate(-90deg);
            }
        }

        .faq-answer {
            padding-bottom: 2rem;
            opacity: 1;
            visibility: visible;
            max-height: 1000px;

            iframe {
                display: block;
            }
        }
    }
}

.info {
    text-align: center;
    color: #fff;
    background: url('../img/bg-info.png') no-repeat center center;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding: 0 2rem;
    font-style: italic;

    @media screen(xl) {
        font-size: 25px;
    }
}
